body {
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
  outline: 0;
}

@font-face {
  font-family: FontAwesome;
  src: url(https://cdn11.bigcommerce.com/s-8pcbviyy/stencil/038f3100-ac6f-0138-c9df-0242ac11000f/e/2b252600-51e6-0139-cb33-6ea638bec48b/fonts/font-awesome/fontawesome-webfont.eot?v=4.7.0);
  src: url(https://cdn11.bigcommerce.com/s-8pcbviyy/stencil/038f3100-ac6f-0138-c9df-0242ac11000f/e/2b252600-51e6-0139-cb33-6ea638bec48b/fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.7.0)
      format("embedded-opentype"),
    url(https://cdn11.bigcommerce.com/s-8pcbviyy/stencil/038f3100-ac6f-0138-c9df-0242ac11000f/e/2b252600-51e6-0139-cb33-6ea638bec48b/fonts/font-awesome/fontawesome-webfont.woff2?v=4.7.0)
      format("woff2"),
    url(https://cdn11.bigcommerce.com/s-8pcbviyy/stencil/038f3100-ac6f-0138-c9df-0242ac11000f/e/2b252600-51e6-0139-cb33-6ea638bec48b/fonts/font-awesome/fontawesome-webfont.woff?v=4.7.0)
      format("woff"),
    url(https://cdn11.bigcommerce.com/s-8pcbviyy/stencil/038f3100-ac6f-0138-c9df-0242ac11000f/e/2b252600-51e6-0139-cb33-6ea638bec48b/fonts/font-awesome/fontawesome-webfont.ttf?v=4.7.0)
      format("truetype"),
    url(https://cdn11.bigcommerce.com/s-8pcbviyy/stencil/038f3100-ac6f-0138-c9df-0242ac11000f/e/2b252600-51e6-0139-cb33-6ea638bec48b/fonts/font-awesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular)
      format("svg");
  font-weight: 400;
  font-style: normal;
}

.header-top {
  position: relative;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  height: 55px;
  display: inline-block;
}
/* Header left */
.header-left {
  align-items: center;
  width: 410px;
}

.header-left > .navbar > ul {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  list-style: none;
  margin-top: 0;
  text-decoration: none;
}
.header-left > .navbar > ul > li {
  position: relative;
  padding: 18px 20px 18px 20px;
  height: 55 px;
  text-decoration: none;
  align-items: center;
}
.header-left > .navbar > ul > li:first-child {
  border-right: 1px solid #eaeaea;
  height: 55 px;
}
.header-left > .navbar > ul > li > a span {
  line-height: 1.3em;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 560;
  letter-spacing: 0.1em;
  color: #000000;
  letter-spacing: 1.5px;
}
.header-left > .navbar > ul > li > a:link {
  text-decoration: none;
}

/* Header right */

.header-right {
  display: flex;
  height: 55px;
  width: 450px;
  flex-direction: column;
  float: right;
}
.right-content {
  align-items: center;
  height: 55px;
  display: flex;
}
.search-toggle {
  display: flex;
  height: 55px;
  padding: 0 20px;
  align-items: center;
  border-left: 1px solid #eaeaea;
}

.search-toggle img {
  width: 20px;
  height: 20px;
}
.header-right > .right-content > div > a span {
  line-height: 1.3em;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: 550;
  letter-spacing: 0.1em;
  color: #5f5e5e;
  height: 55px;
}
.header-right > .right-content > div > a:link {
  text-decoration: none;
}
.header-right > .right-content > div {
  border-left: 1px solid #eaeaea;
  padding: 18px 20px;
  height: 55px;
  align-items: center;
}
.cart-icon > svg {
  height: 24px;
  width: 24px;
}
.header-right > .right-content > div:last-child {
  display: inline-block;
  border-left: 1px solid #eaeaea;
  padding: 18px 20px;
  height: 55px;
  align-items: center;
}
.cart-icon > svg {
  margin-left: 15px;
}
.header-right > .right-content > div:last-child {
  margin-left: 0;
  padding: 15px 10px 0 0;
  border-left: 0px solid #1e1e1e;
}
.header-right > .right-content > div:nth-child(4) {
  padding: 18px 0 18px 22px;
}

/* Header center */

.header-center {
  margin-left: 33%;
  align-items: center;
  height: 55px;
  padding-top: 10px;
}
.header-center p {
  line-height: 1.3em;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.8px;
  color: #1e1e1e;
  height: 55px;
  text-transform: uppercase;
}
.header-center p > a:link {
  text-decoration: underline dotted;
}
.header-center p > a {
  line-height: 1.3em;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #1e1e1e;
  height: 55px;
  text-transform: uppercase;
}

/* Header bottom Logo */

.header-bottom {
  margin: 0;
  align-items: center;
}
.header-bottom .header-logo {
  margin: 37px 0 0 0;
}
.header-bottom > h1 {
  font-size: 2.8em;
  font-family: '" Open Sans ",Arial,Helvetica,sans-serif';
  color: #383838;
  padding: 0;
  text-align: center;
  font-weight: 545;
}
.header-bottom .header-logo a svg {
  width: 100%;
  max-width: 500px;
}
.header-bottom .header-logo a {
  display: block;
  line-height: 1;
}

/* header bottom menu list */

.navPages-list {
  display: flex;
  list-style: none;
  text-decoration: none;
}

.navPages-container nav ul.navPages-list {
  margin: auto;
  max-width: 975px;
  text-align: center;
}
.navPages-list > li {
  display: inline-block;
  max-height: 48px;
  margin-right: 8px;
}
.navPages-list > li > a {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  display: block;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #3b3b3b;
  border-bottom: 2px solid transparent;
  text-decoration: none !important;
  margin-left: 29px;
}
.navPages-list > li:nth-child(1) {
  margin-left: 35px;
}
.navPages-container {
  margin-top: 55px;
}

/* product pages.................................................................................. */

/* tracker */
.page-tracker {
  background-color: #f7f8f9;
  margin-top: 30px;
  width: 100%;
  height: 50px;
  padding: 5px 0 10px;
}
.tracker-content {
  margin: 16px 180px;
  font-size: 9px;
}
.tracker-content a {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: 11px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: #808080;
}
.tracker-content a:hover {
  text-decoration: underline;
  color: #000000;
}
/* product container */
.product-container {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  width: 1170px;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
/* product header */
.filter-space,
.product-header-text {
  margin-top: 40px;
}
/* filter.. */
.filter-space-header,
.product-header-text,
.filter-list-header {
  font-size: 15px;
  color: #383838;
  letter-spacing: 0.75px;
  font-weight: 700;
}
.filter-space-header,
.filter-list-header {
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}
.category {
  padding-bottom: 40px;
}
.category > ul > li > a {
  font-size: 12px;
  letter-spacing: 0.75px;
  font-weight: 700;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin-left: -10px;
  color: #575757;
  line-height: 20px;
}
.category > ul > li:hover {
  text-decoration: underline;
}
.category > ul > li {
  list-style: none;
  margin-top: 20px;
  margin-left: -35px;
}

.product-filter {
  width: 25%;
  padding-right: 20px;
}
.filter-space-div {
  margin-top: 30px;
  box-sizing: border-box;
}
.filter-space-content {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
  padding: 15px 30px;
  font-size: 12px;
  text-align: center;
}
.filter-list-header {
  padding-top: 35px;
  cursor: pointer;
  letter-spacing: 1px;
}
.filter-list-header > span:last-child {
  float: right;
  font-weight: 100;
  font-size: 19px;
  color: #b8b6b6;
}
.brands {
  cursor: initial;
}
.lovoda > a > p {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: 11px;
  color: #808080;
}
.lovoda > a {
  text-decoration: none;
  color: black;
}
.lovoda > a > p:hover {
  cursor: pointer;
  text-decoration: dotted;
}
.lovoda > span {
  float: left;
  margin-top: 7px;
  font-size: 18px;
  margin-right: 10px;
  font-weight: 600;
}
.lovoda > a:last-child > h5:hover {
  text-decoration: dotted;
}

/* fiter items */

.filter-list {
  display: none;
  box-sizing: border-box;
  margin: auto;
}
.filter-list > ul > li > input {
  opacity: 0.3;
}
.filter-list > ul {
  margin-top: 40px;
}
.filter-list > ul > li {
  list-style: none;
  margin: 20px -30px;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.filter-list > ul > li > span:hover {
  text-decoration: underline;
}
.filter-list > ul > li > span {
  color: #686868;
  font-weight: 600;
  font-size: 12px;
  margin-left: 7px;
}
.filter-price > input {
  width: 46%;
  float: left;
  margin-right: 10px;
  margin-top: 30px;
  height: 35px;
}
.filter-list > button {
  clear: both;
  width: 96%;
  height: 40px;
  margin: 25px auto;
  background-color: transparent;
  font-size: 13px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  letter-spacing: 1.3px;
  font-weight: 600;
  box-shadow: #3b3b3b;
}

/* product layout */

.product-header-text > span {
  font-size: 25px;
  letter-spacing: 1.2px;
}
.product-div {
  width: 75%;
}
.new-image {
  padding-top: 25px;
  padding-bottom: 28px;
  border-bottom: 1px solid #dbdbdb;
  width: 98%;
  margin: auto;
}
.new-image > a > img {
  width: 860px;
  height: 120px;
  box-sizing: border-box;
}
.view-model {
  display: flex;
  flex-direction: row;
  padding-left: 48%;
}
.view-model > h5 {
  margin-right: 10px;
  margin-top: 35px;
  font-size: 12px;
  font-weight: 500;
  color: #000000;
}
.view-model > div {
  margin-top: 20px;
  height: 40px;
  width: 40px;
  border: 1px solid #dbdbdb;
}
.view-model > div:nth-child(3) {
  margin-right: 10%;
}
.view-model > div:nth-child(5) > select {
  width: 170px;
  height: 40px;
  font-size: 12px;
  color: #575555;
  padding-left: 10px;
  padding-right: 10px;
}
.view-model > div:nth-child(2),
.view-model > div:nth-child(3) {
  padding-top: 10px;
  padding-left: 10px;
}
.view-model > div:nth-child(2) > i,
.view-model > div:nth-child(3) > i {
  font-size: 15px;
}

/* products elements-div */
.product-elements {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 30px;
  box-sizing: border-box;
}

.product-ele-div {
  width: 33.3%;
  height: 500px;
  background-color: white;
  box-sizing: border-box;
  padding: 0px 15px 27px;
}
.product-cont {
  width: auto;
  height: 100%;
  justify-content: center;
  box-sizing: border-box;
}
.product-img-div {
  width: 100%;
  height: 390px;
  margin-bottom: 21px;
}
/* image div after hover */
.product-img-div {
  background-size: 270px;
  background-color: #c0c0c0;
  padding: 15px 15px 20px 15px;
}
.product-img-div > div {
  width: 18%;
  height: 23px;
  font-size: 11px;
  padding: 7px;
  font-weight: bold;
  box-sizing: border-box;
  box-shadow: 2px 2px rgb(26, 26, 26);
  background-color: rgb(255, 255, 255);
}
.product-img-div > button {
  width: 100%;
  height: 40px;
  margin-top: 315px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  background-color: white;
  border: none;
  display: none;
}

.product-cap {
  height: 70px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
.product-cap > a {
  color: #383838;
  font-size: 12px;
  text-decoration: none;
}
.price {
  margin-top: 9px;
  color: #000;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}

/* pagenation */
.pagenation {
  border-top: 1px solid #dbdbdb;
  height: 100px;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 70px;
  padding-top: 30px;
}
.pagenation > div {
  padding-left: 350px;
}
.pagenation > div > li {
  display: inline-block;
  margin: 10px;
  color: #2d2d2d;
  font-weight: 700;
  font-size: 12px;
  font-weight: lighter;
}
.pagenation > div > li > a {
  text-decoration: none;
  color: #000;
}
.pagenation > div > li:last-child {
  margin-left: 55%;
  border-bottom: 1px dotted #2d2d2d;
}

/* modal */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
